@import 'src/App';
@import "node_modules/bootstrap/scss/card";

.messageViewContent {
  width: 100%;
  max-height: 20em;
  min-height: auto;
}

.messageViewContentPreview {
  @extend .messageViewContent;
  min-height: 20em;
}

.messageHeader {
  @extend .messageFooter;
  background-color: antiquewhite;
}

.messageFooter {
  padding: 0.375rem 0.75rem;
  min-height: 2em;
}

.messageBody {
  overflow: auto;
  padding: 0.375rem 0.75rem;
}