@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}

pre {
  font-family: 'Roboto Mono', monospace;
  background-color: whitesmoke;
  padding: 0.3em;
}

blockquote {
  border-left: 0.3em solid lightgray;
  margin: 1em;
  padding-left: 1em;
}