html {
    height: 100%;
}

a, a:link, a:visited, a:active {
    color: black !important;
    text-decoration: none !important;
}

a:hover {
    color: black !important;
    text-decoration: none !important;
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    background-color: lightgray !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
