:root {
    --amaranth-purple: #b7094cff;
    --jazzberry-jam: #a01a58ff;
    --amaranth-m-p: #892b64ff;
    --palatinate-purple: #723c70ff;
    --cyber-grape: #5c4d7dff;
    --bdazzled-blue: #455e89ff;
    --sapphire-blue: #2e6f95ff;
    --cg-blue: #1780a1ff;
    --blue-munsell: #0091adff;
}