.selectedLink {
  font-weight: bolder;
  padding-left: 0.3em;

  &:before {
    content: "> ";
  }
}

.link {
  text-decoration: none;

  &:hover {
    font-weight: bolder;
    text-decoration: none;
  }
}