.selectedLink {
  font-weight: bolder;
  padding-left: 0.3em;
  color: #31699f;

  &:before {
    content: "> ";
  }
}

.link {
  text-decoration: none;
  color: #31699f;

  &:hover {
    font-weight: bolder;
    text-decoration: none;
  }
}